version: '3.4'

services:
  backend:
    env_file:
      - lms/settings/.env
    environment:
      - REDIS_HOST=redis
      - REDIS_PASSWORD=secret-password
      - WEBPACK_ASSETS_ROOT=/var/www/frontend-code/assets/
    volumes:
      - lms-repository:/var/www/code
  backend-dev:
    env_file:
      - lms/settings/.env
    environment:
      - DATABASE_URL=postgresql://csc:FooBar@db:5432/cscdb
      - REDIS_HOST=redis
      - REDIS_PASSWORD=secret-password
