@import "../components/cropper";
@import "../components/upload_photo";

$padding-left: 200px;

header {

  @extend .container;
  position: relative;
  min-height: 190px;

  > * {
    padding-left: $padding-left;
  }

  .thumbnail {
    z-index: 1;
    position: absolute;

    img {
      height: 238px;
      width: 170px;
    }

    .thumbnail-img {
      overflow: hidden;
    }

    .thumbnail-inner {
      position: relative;
      height: 100%;
      line-height: 1;

      .profile-actions {
        position: absolute;
        bottom: 0;
        width: 100%;

        > a {
          background: #000;
          background: rgba(29,32,34,.9);
          display: block;
          margin-bottom: 2px;
          color: #fff;
          padding: 6px 15px;
          line-height: 1.2;
          @include transition(all 120ms ease-out);
          opacity: 0.75;
          font-size: 13px;
          text-decoration: none;

          &:hover {
            opacity: 1;
          }

          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }

  }

  h2 {
    margin: 0 0 14px 0;
  }

  .progress-info {
    font-size: 16px;
  }
}

.profile-additional-info {
  background: #f8f8f8;
  position: relative;
  padding: 20px 0 0 0;
  overflow: hidden;


  .about-me, .review {
    padding-left: $padding-left;

    h4 {
      margin-top: 0;
    }
  }
  .review {
    .ubertext :last-child {
      margin-bottom: 0;
    }
  }

  .nav-tabs-inverse {
    padding: 0 0 0 $padding-left;

    .nav-tabs {
      border: 0!important;
      overflow: hidden;
      height: 42px;

      li {
        &.dark {
          background: #eee;
        }
      }
    }
  }
}

.profile-content {
  @extend .container;

  table.calc {
    input[type=text] {
      width: 100%;
    }
  }
}

.semi-transparent {
  opacity: 0.5;
}

._connected-account {
  display: flex;
  flex-direction: row;
  align-items: center;

  > :first-child {
    flex-grow: 1;
  }

  .btn {
    min-width: 120px;
  }
}

