// Backgrounds
.grey-bg {
  background: map_get($theme-colors, "grey");
}

._light {
  background: map_get($theme-colors, "light");
}

.dark-bg {
  background: map_get($theme-colors, "dark");
}

.darken-bg {
  background: darken($gray-darker, 10%);
}

.orange-bg {
  background: $orange;
}

.green-bg {
  background: $green;
}

.text-warning {
  color: $orange;
}
