{% extends "v2/layouts/inner.jinja2" %}

{% block top_banner %}
  <a href="#" class="top-banner-wrapper darken-bg">
    <div class="container">
      <div class="top-banner">
        <img class="mr-2 d-none d-lg-inline-block" src="/static/v2/img/icons/top-banner-kids.svg" alt="csc-kids">
        <div>До 14 апреля открыт приём заявок на очное обучение в центре</div>
      </div>
    </div>
  </a>
  <a href="#" class="top-banner-wrapper green-bg">
    <div class="container">
      <div class="top-banner">
        <img class="mr-2 d-none d-lg-inline-block" src="/static/v2/img/icons/top-banner-robotics.svg" alt="Направление роботы">
        <div>Открылось новое направление обучения – Robotics</div>
      </div>
    </div>
  </a>

  <a href="https://10years.compscicenter.ru/index.html" class="top-banner-wrapper" style="background-color: #a353ff">
    <div class="container">
      <div class="top-banner">
        <img class="mr-4 d-none d-lg-inline-block" src="/static/v2/img/icons/top-banner-party-1.svg" alt="Салют и конфетти">
        <div>Computer Science Center празднует 10 лет!</div>
        <img class="ml-4 d-none d-lg-inline-block" src="/static/v2/img/icons/top-banner-party-2.svg" alt="Салют и конфетти">
      </div>
    </div>
  </a>

  <a href="/#stop-enrollment" class="top-banner-wrapper" style="background-color: #1b6d85">
    <div class="container">
      <div class="top-banner">
        <span>В 2022 году Computer Science Center приостановил набор и обучение</span>
      </div>
    </div>
  </a>

{% endblock top_banner %}
