.sprite-img._icon-arrow-bottom {
	width: 24px;
	height: 24px;
}

.sprite-img._icon-arrow-left {
	width: 24px;
	height: 24px;
}

.sprite-img._icon-arrow-right {
	width: 24px;
	height: 24px;
}

.sprite-img._icon-arrow-top {
	width: 24px;
	height: 24px;
}

.sprite-img._icon-border-arrow-right {
	width: 32px;
	height: 32px;
}

.sprite-img._icon-facebook {
	width: 24px;
	height: 24px;
}

.sprite-img._icon-github {
	width: 24px;
	height: 24px;
}

.sprite-img._icon-habr {
	width: 24px;
	height: 24px;
}

.sprite-img._icon-instagram {
	width: 24px;
	height: 24px;
}

.sprite-img._icon-telegram {
	width: 24px;
	height: 24px;
}

.sprite-img._icon-twitter {
	width: 24px;
	height: 24px;
}

.sprite-img._icon-user {
	width: 24px;
	height: 24px;
}

.sprite-img._icon-vk {
	width: 24px;
	height: 24px;
}

.sprite-img._icon-youtube {
	width: 24px;
	height: 24px;
}

