.sprite-img._courses {
	width: 95px;
	height: 124px;
}

.sprite-img._graduate {
	width: 157px;
	height: 124px;
}

.sprite-img._logo-csclub {
	width: 103px;
	height: 71px;
}

.sprite-img._logo-fml239 {
	width: 96px;
	height: 71px;
}

.sprite-img._logo-gazprom {
	width: 136px;
	height: 71px;
}

.sprite-img._logo-itmo {
	width: 146px;
	height: 71px;
}

.sprite-img._logo-jetbrains {
	width: 71px;
	height: 71px;
}

.sprite-img._logo-mkn {
	width: 146px;
	height: 71px;
}

.sprite-img._logo-ngu {
	width: 146px;
	height: 71px;
}

.sprite-img._logo-shad {
	width: 103px;
	height: 71px;
}

.sprite-img._logo-yandex {
	width: 103px;
	height: 71px;
}

.sprite-img._practice {
	width: 148px;
	height: 124px;
}

