.sprite-img._icon-calendar {
	width: 24px;
	height: 24px;
}

.sprite-img._icon-cross {
	width: 24px;
	height: 24px;
}

.sprite-img._icon-cs-club {
	width: 24px;
	height: 24px;
}

.sprite-img._icon-files {
	width: 24px;
	height: 24px;
}

.sprite-img._icon-graduate {
	width: 24px;
	height: 24px;
}

.sprite-img._icon-info {
	width: 24px;
	height: 24px;
}

.sprite-img._icon-location {
	width: 24px;
	height: 24px;
}

.sprite-img._icon-mail {
	width: 24px;
	height: 24px;
}

.sprite-img._icon-password-hidden {
	width: 20px;
	height: 20px;
}

.sprite-img._icon-pause {
	width: 24px;
	height: 24px;
}

.sprite-img._icon-phone {
	width: 24px;
	height: 24px;
}

.sprite-img._icon-play {
	width: 24px;
	height: 24px;
}

.sprite-img._icon-search {
	width: 24px;
	height: 24px;
}

.sprite-img._icon-skype {
	width: 24px;
	height: 24px;
}

.sprite-img._icon-slides {
	width: 24px;
	height: 24px;
}

.sprite-img._icon-time {
	width: 24px;
	height: 24px;
}

.sprite-img._icon-video {
	width: 24px;
	height: 24px;
}

.sprite-img._icon-web {
	width: 24px;
	height: 24px;
}

